@import "variable.styl"

.mint-cell-wrapper {
  height 50px
}

/*头部样式*/
.mint-header {
  height 50px
  h1 {
    font-size $font-size-medium-x
  }
}

/*indicator遮罩*/
.mint-indicator-wrapper, .mint-indicator-mask {
  z-index 9999999 !important
}

/*msgbox弹出框字体大小*/
.mint-msgbox-confirm, .mint-msgbox-cancel {
  font-size $font-size-medium-x
}

/*搜索框左边间距*/
.mint-searchbar-core {
  padding-left 5px
}

/*header组件*/
.mint-header.is-fixed {
  z-index 201
}
