.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

flex($i)
  flex $i

.flex-middle {
  -webkit-align-items: center;
  align-items: center;
}

.flex-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.flex-allCenter {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
