// 颜色定义规范
$color-background = #f7f7f7
$color-background-w = white
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #4B4B4B
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(227, 227, 227, 0.7)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-shadow = #b8bbbf

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
